.nav-ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 0 0.5rem;
  font-size: max(1vw,9px);
}
.nav-li {
  position: relative;
}
.nav-h1 {
  cursor: pointer;
  margin: 0;
  color: white;
  position: relative;
  z-index: 2;
}
.nav-li::before {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: white;
  position: absolute;
  top: 0;
  left: -0.5rem;
  z-index: 2;
}
.nav-h1::after,
.nav-h1::before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 0;
  background-color: tomato;
  transition: 1s ease;
  z-index: -1;
}
.nav-h1::before {
  right: 0;
  border-bottom-left-radius: 100%;
}
.nav-h1::after {
  bottom: 0;
  border-top-right-radius: 100%;
}
.nav-h1:hover {
  &::after,
  &::before {
    width: 100%;
    height: 100%;
  }
}
